.updates-container {
  height: 100vh;
  position: relative;
}

.updates-container h1 {
  font-size: 10vw;
  font-family: sans-serif;
  position: absolute;
  width: 50%;
  top: 20%;
  line-height: 80%;
  -webkit-text-stroke: 2px #333;
  color: transparent;
  left: 5%;
  z-index: -1;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
