.about-section {
  height: 100vh;
  overflow: hidden; /* Ensures no extra scrollbars */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10% 0;
}

.about-part-1 {
  width: 64%;
  padding: 3%;
}

.about-part-2 {
  width: 36%;
  height: 100%;
}

.visual-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.visual-content img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.text-content {
  font-size: 4rem;
}

.para-content {
  padding: 7% 5%;
  font-size: 1.1rem;
  width: 80%;
}
