.project-card {
  border: 1px solid #929292;
  height: 100%;
  width: 100%;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .project-card-part-1 {
    width: 68%;
    height: 100%;

    h1 {
      font-size: 48px;
      font-weight: 500;
    }

    p {
      margin-top: 10%;
      padding-left: 4%;
      border-left: 5px solid #8f8f8f;
      font-size: 24px;
    }

    ul {
      padding: 7%;
      padding-left: 9%;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    li {
      font-size: 22px;
    }

    button {
      font-size: 20px;
      padding: 2% 5%;
      background-color: transparent;
      color: #e6e6e6;
      border: 1px solid #919191;
      border-radius: 10px;
      position: relative;
      transition: background 0.4s, color 0.4s, border-radius 0.2s;
    }

    button:hover {
      background-color: #fff;
      color: #000;
      border-radius: 1000px;
    }
  }

  .project-card-part-2 {
    width: 30%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #494949;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 24rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}
