.hero {
  display: flex;
  align-items: center;
  flex-direction: column;

  .header {
    text-align: center;
    font-size: 450%;
    font-weight: 500;
    width: 75%;
    padding-bottom: 1.6381%;
    border-bottom: 1px solid #444;
  }

  p {
    margin-top: 3%;
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
  }
}
