.body-cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  font-size: 0.8rem;
  color: #fff;
  z-index: 999999;
}

.body-cursor::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dotted #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 1.5%;
}

section {
  position: relative;
}

.section1 {
  margin-top: 88px;
}

.section2 {
  /* margin-top: 88px; */
  height: 100vh;
  width: 100vw;
}
